body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("assets/images/backgroundImage.png");
}
.intro {
  background: url("assets/images/backgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 300px;
  margin-bottom: 25px;
}

main {
  flex: 1 0 auto;
}
