body {
   background-image: url("/assets/images/searchBackground.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 7%;
  padding: 5%;
  border: 1px solid white;
  background-color: white;
  opacity: .7;
  border-radius: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  border: 1px solid white;
  padding: 3%;
}

#notes {
  float: right;
  width: 39%;
  border: 1px solid white;
  background: white;

}



textarea, input {
  display: block;
  width: 100%;

}

input {
  height: 36px;
  font-size: 24px;
  color: black;
}

textarea {
  height: 200px;
  font-size: 18px;
}
